@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    position: fixed;
    width: 100%;
}

#logo {
    font-family: "Fredoka One", cursive;
    font-size: xx-large;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    color: #FE8C83;
    text-align: center;
    padding: 5px 0;
}

#logo-footer {
    font-family: "Fredoka One", cursive;
    font-size: medium;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    color: #FE8C83;
    text-align: left;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #49BAA7;
    padding-top: 50px;
}

#mainMenu {
    display: flex;
    flex-direction: row;
    height: 80px;
    margin: 20px auto;
    width: 400px;
}

#mainMenu button {
    background: none;
    border: 1px solid gray;
    padding: 0 20px;
    -webkit-appearance: none;
}

#mainMenu > div {
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
}

#game-area {
    margin: 10px auto;
}

.game-area {
    background: rgb(230, 240, 255);
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(var(--rows) * 20px);
    width: calc(var(--cols) * 20px);
}

.game-area.game-over {
    background: rgba(230, 230, 230);
}

.game-area div {
    height: 20px;
    position: relative;
    width: 20px;
}

.game-area div[data-color='0'] { background: #f5d0e1; }
.game-area div[data-color='1'] { background: #fe8c83; }
.game-area div[data-color='2'] { background: #49baa7; }
.game-area div[data-color='3'] { background: #c9fcd3; }
.game-area div[data-color='4'] { background: #fae991; }

.game-area.game-over div[data-color='0'] { background: gray; }
.game-area.game-over div[data-color='1'] { background: gray; }
.game-area.game-over div[data-color='2'] { background: gray; }
.game-area.game-over div[data-color='3'] { background: gray; }
.game-area.game-over div[data-color='4'] { background: gray; }

.game-area div[data-candy='0'] { background: #f5d0e1; }
.game-area div[data-candy='1'] { background: #fe8c83; }
.game-area div[data-candy='2'] { background: #49baa7; }
.game-area div[data-candy='3'] { background: #c9fcd3; }
.game-area div[data-candy='4'] { background: #fae991; }