@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    position: fixed;
    width: 100%;
}

#logo {
    font-family: "Fredoka One", cursive;
    font-size: xx-large;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 3px;
    color: #FE8C83;
    text-align: center;
    padding: 5px 0;
}

body {
    background-color: #fae991;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #49BAA7;
    padding-top: 10px;
}

body p {
    text-align: center;
}

#mainMenu {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    margin: 10px auto;
    position: relative;
    width: 444px;
}

#mainMenu button {
    background: none;
    color: #FE8C83;
    font-family: "Fredoka One", cursive;
    font-size: large;
    -webkit-appearance: none;
}

#mainMenu>div {
    height: 80px;
    line-height: 80px;
    text-align: center;
}

#mainMenu i {
    font-size: x-large;
}

#mainMenu .level,
#mainMenu .score {
    display: flex;
    flex-direction: column;
    font-family: "Fredoka One", cursive;
    font-size: medium;
    justify-content: center;
    line-height: initial;
}

#level,
#score {
    font-size: x-large;
}

#sound {
    display: none;
}

#toggle-sound label {
    display: inline-block;
    text-align: left;
    width: 2rem;
}

#toggle-sound label:hover {
    color: #FE8C83;
}

#toggle-sound .sound-on {
    display: none;
}

#toggle-sound input[type="checkbox"]:checked~label .sound-on {
    display: inline-block;
}

#toggle-sound input[type="checkbox"]:checked~label .sound-off {
    display: none;
}

/* Leaderboard */
#leaderboard table {
    font-size: large;
    line-height: 1.5;
    table-layout: fixed;
    width: 100%;
}

#leaderboard th {
    color: #49BAA7;
    font-family: "Fredoka One", cursive;
    font-weight: bold;
    padding-bottom: 10px;
}

#leaderboard th:nth-child(1),
#leaderboard td:nth-child(1) {
    text-align: left;
}

#leaderboard th:nth-child(2),
#leaderboard td:nth-child(2) {
    text-align: right;
    width: 80px;
}

#leaderboard td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Tooltip container */
.tooltip {
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    background-color: #c9fcd3;
    border-radius: 10px;
    border: 2px dotted #49BAA7;
    color: #49BAA7;
    left: 0;
    top: 90px;
    line-height: 1;
    padding: 30px;
    position: absolute;
    visibility: hidden;
    width: 380px;
    height: 380px;
    z-index: 2;
}

.tooltiptext h2 {
    color: #FE8C83;
    margin-bottom: 10px;
    font-family: "Fredoka One", cursive;
    font-size: xx-large;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 0;
    text-align: center;
}

.tooltiptext p {
    text-align: justify;
    margin-bottom: 8px;
}

#help .fa-circle {
    color: #FE8C83;
    font-size: small;
    font-weight: bold;
    padding-right: 5px;
    text-align: left;
}

.tooltiptext li {
    text-align: justify;
    line-height: 1.2;
    list-style: none;
    margin-bottom: 8px;
}

#help .fa-caret-square-right,
#help .fa-caret-square-left {
    padding: 0 4px;
    font-size: medium;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover {
    color: #FE8C83;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Game Area */
#game-area {
    margin: 10px auto 45px auto;
}

.game-area {
    background: #9d7063;
    border: 2px solid #9d7063;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(var(--rows) * 22px);
    width: calc(var(--cols) * 22px);
    position: relative;
}

.game-area.game-over {
    background: rgba(230, 230, 230);
    border: 2px solid black;
}

.game-area .game-over {
    color: rgba(0, 0, 0, 0.7);
    display: none;
    font-family: "Fredoka One", cursive;
    font-size: 48px;
    left: 0;
    line-height: 440px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.game-area.game-over .game-over {
    display: block;
}

.game-area div {
    height: 22px;
    position: relative;
    width: 22px;
}

/* Mobile on-screen controls */

#mobile-turn-left,
#mobile-turn-right {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    bottom: 20px;
    display: none;
    height: 80px;
    position: absolute;
    width: 80px;
    z-index: 1;

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#mobile-turn-left::before,
#mobile-turn-right::before {
    color: rgba(255, 255, 255, 0.9);
    display: block;
    font-family: 'Font Awesome 5 Free';
    font-size: 50px;
    font-weight: 900;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 75px;
}

#mobile-turn-left {
    left: 20px;
}

#mobile-turn-right {
    right: 20px;
}

#mobile-turn-left::before {
    content: '\f0d9';
    margin-right: 5px;
}

#mobile-turn-right::before {
    content: '\f0da';
    margin-left: 5px;
}

@media (hover: none) {

    #mobile-turn-left,
    #mobile-turn-right {
        display: block;
    }
}

/* Worm styling (body shape)*/
.game-area div[data-indir='0'][data-outdir='3'],
.game-area div[data-indir='1'][data-outdir='2'] {
    border-top-right-radius: 11px;
}

.game-area div[data-indir='0'][data-outdir='1'],
.game-area div[data-indir='3'][data-outdir='2'] {
    border-top-left-radius: 11px;
}

.game-area div[data-indir='2'][data-outdir='1'],
.game-area div[data-indir='3'][data-outdir='0'] {
    border-bottom-left-radius: 11px;
}

.game-area div[data-indir='2'][data-outdir='3'],
.game-area div[data-indir='1'][data-outdir='0'] {
    border-bottom-right-radius: 11px;
}

.game-area .head[data-indir='0'],
.game-area .tail[data-outdir='2'] {
    border-radius: 11px 11px 0px 0px;
}

.game-area .head[data-indir='1'],
.game-area .tail[data-outdir='3'] {
    border-radius: 0px 11px 11px 0px;
}

.game-area .head[data-indir='2'],
.game-area .tail[data-outdir='0'] {
    border-radius: 0px 0px 11px 11px;
}

.game-area .head[data-indir='3'],
.game-area .tail[data-outdir='1'] {
    border-radius: 11px 0px 0px 11px;
}

/* Worm styling (body segment colors)*/
.game-area div[data-color='0'] {
    background: #f5d0e1;
}

.game-area div[data-color='1'] {
    background: #fe8c83;
}

.game-area div[data-color='2'] {
    background: #49baa7;
}

.game-area div[data-color='3'] {
    background: #c9fcd3;
}

.game-area div[data-color='4'] {
    background: #fae991;
}

/*Worm styling (Game Over colors)*/
.game-area.game-over div[data-color='0'],
.game-area.game-over div[data-color='1'],
.game-area.game-over div[data-color='2'],
.game-area.game-over div[data-color='3'],
.game-area.game-over div[data-color='4'] {
    background: gray;
}

/* Candy styling (shape)*/
.game-area div[data-candy='0']::before,
.game-area div[data-candy='1']::before,
.game-area div[data-candy='2']::before,
.game-area div[data-candy='3']::before,
.game-area div[data-candy='4']::before {
    content: '\f004';
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    font-weight: 900;
    line-height: 22px;
    width: 22px;
}

/* Candy styling (colors and rotation)*/
.game-area div[data-candy='0'] {
    color: #f5d0e1;
    transform: rotate(10deg);
}

.game-area div[data-candy='1'] {
    color: #fe8c83;
    transform: rotate(-10deg);
}

.game-area div[data-candy='2'] {
    color: #49baa7;
    transform: rotate(15deg);
}

.game-area div[data-candy='3'] {
    color: #c9fcd3;
    transform: rotate(-15deg);
}

.game-area div[data-candy='4'] {
    color: #fae991;
    transform: rotate(5deg);
}

/* Candy styling (Game Over color)*/
.game-area.game-over div[data-candy='0'],
.game-area.game-over div[data-candy='1'],
.game-area.game-over div[data-candy='2'],
.game-area.game-over div[data-candy='3'],
.game-area.game-over div[data-candy='4'] {
    color: black;
}

/* Footer */
/* The Footer section includes a flex box to organize all of the elements such as logo, social media links and contact information. */

.container-footer {
    height: 80px;
    background-color: #C9FCD3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0;
}

.container-footer div {
    display: inline-block;
    padding: 10px;
    background-color: #C9FCD3;
    text-align: center;
    flex-grow: 1;
}

#logo-footer {
    display: inline-block;
    font-family: "Fredoka One", cursive;
    font-size: x-large;
    font-weight: 500;
    letter-spacing: 3px;
    color: #FE8C83;
    text-align: left;
}

.social-networks {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
}

.social-networks>li {
    display: inline-block;
    margin-right: 10px;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #FE8C83;
}

#contact-footer {
    display: inline-block;
    font-family: "Fredoka One", cursive;
    font-size: small;
    font-weight: 100;
    letter-spacing: 3px;
    color: #FE8C83;
    text-align: center;
}

#copyright-footer {
    background-color: #C9FCD3;
    padding: 5px;
}

#copyright-text {
    font-family: "Roboto", sans-serif;
    font-size: small;
    font-weight: 400;
    color: #FE8C83;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 767px) {
    .container-footer {
        height: initial;
        flex-direction: column;
        padding: 0;
    }
}